In [5]:
# bubble sort
print("Before sort:")
l=[2,5,4,1,3]
print(l)
n=len(l)
for i in range(n-1):
    for j in range (n-1-i):
        if l[j]>l[j+1]:
            t=l[j]
            l[j]=l[j+1]
            l[j+1]=t
          
print("after sort")
print(l)

Before sort:
[2, 5, 4, 1, 3]
after sort
[1, 2, 3, 4, 5]

In [3]:
# 2d lists
mylist=[[1,2,3],[4,5,6],True]
print(mylist)
print(mylist[0][1])

[[1, 2, 3], [4, 5, 6], True]
2

In [14]:
# creating 2d arrays
l=[i for i in range(1,10)]#1D list
print(l)

#way:1
m=[[0,0,0] for i in range(5)]
print(m)


#way:2
# in every line its taking from 0-4 and total 10 lines is created considering the last provided range
n=[[j for j in range(5)]for i in range(10)]
print(n)


#way:3
p=[[5*i+j for j in range(5)]for i in range(10)]
print(p)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]]
[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]
[[0, 1, 2, 3, 4], [5, 6, 7, 8, 9], [10, 11, 12, 13, 14], [15, 16, 17, 18, 19], [20, 21, 22, 23, 24], [25, 26, 27, 28, 29], [30, 31, 32, 33, 34], [35, 36, 37, 38, 39], [40, 41, 42, 43, 44], [45, 46, 47, 48, 49]]

In [64]:
#take input in 2D list
#m->rows
#n->columns
str=input().strip().split(" ")
m=int(str[0])
n=int(str[1])


#we are converting the string list ito integer
l=[int(i)for i in input().strip().split(" ")]

out=[]
for i in range(m):
    out.append([])
    for j in range(n):
        out[i].append(l[i*m+j])
        
print(out)


#2nd way:
out=[[l[i*m+j]for j in range(n)]for i in range(m)]
print(out)

2 3
1 2 3 4 5 6
[[1, 2, 3], [3, 4, 5]]
[[1, 2, 3], [3, 4, 5]]

In [60]:
s1=set()
print(s1)
print(type(s1))
s1.add(2)
s1.add((3,4))
print(s1)

s1.update([10,11])
print(s1)

#in set duplicate elements get removed automatically
s2=set(["pradipta","choudhury","samrat","choudhury"])
for i in s2:
    print(i,end=" ")
#print(s2)

#remove elements from set by remove() and discard() command
s3=set([1,2,3,4,3,5,6,4])
print(s3)
s3.remove(4)
print(s3)
s3.discard(1)
print(s3)
s3.add(10)
print(s3)

set()
<class 'set'>
{2, (3, 4)}
{11, 2, 10, (3, 4)}
samrat pradipta choudhury {1, 2, 3, 4, 5, 6}
{1, 2, 3, 5, 6}
{2, 3, 5, 6}
{2, 3, 5, 6, 10}

In [48]:
#dictionary
d1={
    "start":"11-1-21",
    "end":"1-3-21"
}
print(d1)
d1['year']="2021"
print(d1)

#add element from a dictionary
d1['status']="ongoing"
print(d1)

#delete particular element in dictionary
del d1['year']
print(d1)

#merge dictionary
d1={'name':'pradipta'}
d2={'alu':'samrat'}
d1.update(d2)
print(d1)

{'start': '11-1-21', 'end': '1-3-21'}
{'start': '11-1-21', 'end': '1-3-21', 'year': '2021'}
{'start': '11-1-21', 'end': '1-3-21', 'year': '2021', 'status': 'ongoing'}
{'start': '11-1-21', 'end': '1-3-21', 'status': 'ongoing'}
{'name': 'pradipta', 'alu': 'samrat'}

In [51]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [55]:
#iterating in lists
for i in [1,2,3,4,5,6,7,9]:
    print(i,end=",")

1,2,3,4,5,6,7,9,

In [57]:
l1={"a":1,"b":2,"c":3,"d":4}
for i in l1.keys():
    print(i)
    
for i in l1.items():
    p

a
b
c
d

In [62]:
#list
s=[]
print(s)
s.append(2)
s

[]

[2]

In [63]:
s1=set("pradipta")
print(s1)

{'d', 't', 'a', 'p', 'r', 'i'}

In [ ]:
s1=["a","b","c","d","e","f","g"]
s=